* {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.title {
  margin: 1.5rem 0;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.videoBox {
  width: 60%;
  height: 80%;
}

.captureBtn {
  margin: 1rem 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
}

.captureImg {
  height: 50px;
  width: 50px;
  background-color: white;
}

.clickedImg {
  width: 30%;
  height: 50%;
  margin: auto;
}

#root {
  height: 100vh;
}

@media screen and (max-width: 769px) {
  .videoBox {
    width: 100%;
    height: 100%;
  }

  .videoContainer {
    width: 100%;
  }

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .clickedImg {
    width: 100%;
    height: 100%;
    margin: auto;
  }
}
